<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://pelzlab.science/#organization",
      "name": "ECLIPSE Lab",
      "alternateName": "ECLIPSE Laboratory",
      "url": "https://pelzlab.science",
      "logo": "https://pelzlab.science/img/FAU.png",
      "description": "ECLIPSE Lab at FAU Erlangen-Nürnberg focuses on computational materials microscopy, electron & X-ray imaging, autonomous microscopy systems, and large-scale inverse problems.",
      "sameAs": [
        "https://github.com/ECLIPSE-Lab",
        "https://twitter.com/PhilippPelz"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Principal Investigator",
        "url": "https://pelzlab.science/people/staff/00_pelz_philipp.html"
      },
      "memberOf": {
        "@type": "Organization",
        "name": "Friedrich-Alexander-Universität Erlangen-Nürnberg",
        "alternateName": "FAU",
        "url": "https://www.fau.de"
      }
    },
    {
      "@type": "Person",
      "@id": "https://pelzlab.science/people/staff/00_pelz_philipp.html#person",
      "name": "Philipp Pelz",
      "alternateName": "Philipp",
      "url": "https://pelzlab.science/people/staff/00_pelz_philipp.html",
      "image": "https://pelzlab.science/img/eclipse_header.png",
      "jobTitle": "W2 Professor (Tenure Track) for Computational Materials Microscopy",
      "worksFor": {
        "@id": "https://pelzlab.science/#organization"
      },
      "affiliation": {
        "@type": "Organization",
        "name": "FAU Erlangen-Nürnberg",
        "url": "https://www.fau.de"
      },
      "sameAs": [
        "https://orcid.org/0000-0002-8009-4515",
        "https://scholar.google.de/citations?hl=en&user=d-lXKR8AAAAJ",
        "https://www.webofscience.com/wos/author/record/JZT-3950-2024",
        "https://www.scopus.com/authid/detail.uri?authorId=56005365900",
        "https://github.com/PhilippPelz",
        "https://twitter.com/PhilippPelz"
      ],
      "alumniOf": [
        {
          "@type": "Organization",
          "name": "University of California, Berkeley",
          "description": "Postdoctoral Researcher, 2019–2022"
        },
        {
          "@type": "Organization",
          "name": "Max Planck Institute for the Structure & Dynamics of Matter",
          "description": "Ph.D. Researcher, 2013–2018"
        }
      ]
    }
  ]
}
</script>
